.home-container{
	width:100%;
	height:500px;
	margin-top:64px;
	float:left;
}

.home-container #home-container-content{
	width:1280px;
	height:inherit;
	margin:0 auto;
	
}

#home-container-content #home-upper-nav{
	width:200px;
	position:absolute;
	height: 30px;
	left: 520px;
	z-index: 3;
	top: 394px;
}

#home-upper-nav .button{
	position:relative;
	top:-3px;
	margin-left:4px;
	margin-right:4px;
}

#home-container-content h1{
	font-size:70px;
	position:relative;
	top: 10px;
	margin-top:0;
	margin-bottom:0;
	padding:0;
}

#home-container-content #home-upper-border-left{
	width:541px;
	height:469px;
	background:url('../img/home/upper-left-border.png') no-repeat bottom left;
	position:absolute;
	margin-left: -278px;
	margin-top: -45px;
	z-index:2;

}

#home-container-content #home-upper-border-right{
	width:492px;
	height:488px;
	background:url('../img/home/upper-right-borders.png') no-repeat bottom left;
	position:absolute;
	margin-left: 986px;
	margin-top: -62px;
	z-index:2;
}

#home-container-content .home-upper-image{
	width:1240px;
	height:424px;
	overflow:hidden;
	position:relative;
	z-index:1;

}

#home-container-content .home-upper-text{
	width:250px;
	height:auto;
	min-height:200px;
	position:absolute;
	margin-left:780px;
	margin-top:80px;
	z-index:3;

}
.home-upper-text h4{
	font-size:22px;
}

.home-upper-text .home-upper-text-box{
	background-color:#276b45;
	width:auto;
	height:auto;
	float:left;
	display:block;
	text-transform: uppercase;
	padding:10px 18px 10px 15px;

}

.home-upper-text-box h5{
	color:white;
	font-size:12px;
	margin:0;

	
}


#home-container2{
	width:100%;
	height:auto;
	float:left;
	background-color:#67a83d;
	box-shadow: 1px 1px 10px #9d9292;
}
#home-container2 #home-container-content2{
	width:1280px;
	height:auto;
	margin:0 auto;
	position:relative;
	
}

#home-container-content2 #home-content2-left{
	width:50%;
	height:inherit;
	float:left;
}


#home-content2-left #content2-one{
	width:90%;
	margin-top:10px;
	height:auto;
	min-height:300px;
	float:left;
}

#home-content2-left #content2-one{
	font-size:13px;
}

#home-content2-left #content2-one h3{
	font-size:30px;
	color:white;
}

#content2-one #readmore-circle{
	width:80px;
	height:80px;
	border-radius:50%;
	background:#006a3b;

	float:left;
}

#readmore-circle div{
	font-weight:bold;
	color:white;
	margin:0 auto;
	margin-left:20px;
	margin-top:22px;
	display:block;

}

#home-content2-left #content2-two{
	width:100%;
	height:auto;
	float:left;
}


#content2-two h3{
	margin-top:10px;
	margin-bottom:0;
	color:white;
	font-size:30px	;
	diplay:block;
}

#content2-two #content2-nav{
	width:100%;
	height:36px;
	margin-top:10px;
	float:left;
}

#content2-nav ul{
	list-style:none;
	margin:0;
	padding:0;
}

#content2-nav ul li{
	text-align: center;
	float:left;
	padding-top:12px;
	font-weight:bold;
	width:140px;
	height:24px;
	font-size:12px;
	color:white;
	background-color:#006a3b;
	border-top-left-radius:0.3em;
	border-top-right-radius:0.3em;
}

#content2-nav ul li.selected{
	background-color:white;
	color:#006a3b;
}

#content2-two #content2-content{
	width:90%;
	height:200px;
	background:white;
	float:left;
	border-bottom-right-radius:0.3em;
	border-top-right-radius:0.3em;
}

#content2-content #content2-content-text{
	width:90%;
	height:inherit;
	float:left;
	overflow:hidden;

}

#content2-content-text ul{
	list-style: none;
	margin:0;
	padding:0;
	margin-left:20px;
	margin-top:20px;

}

#content2-content-text ul li{
	margin-bottom:12px;
}

#content2-content-text .date, .content{
	font-size:13px;
}

#content2-content-text .date{
	text-transform: uppercase;
}

#content2-content-text .content{
	margin-left:20px;
}

#content2-content #content2-nav2{
	width:10%;
	height:100%;
	float:left;
}

#content2-nav2 #content2-nav-up{
	position:relative;
	top:10px;
	left:20px;
}

#content2-nav2 #content2-nav-down{
	position:relative;
	top: 160px;
	right: 10px;

}


#home-container-content2 #home-content2-right{
	width:50%;
	height: 630px;
	float:left;
}

#home-content2-right img{
	
	position: relative;
	left: -57px;
	top: -59px;
}

#home-container3{
	width:100%;
	height:560px;
	float:left;
}

#home-container3 #home-content3{
	width:1280px;
	height:inherit;
	margin:0 auto;
	position:relative;
}

#home-container3 #home-container3-left{
	width:45%;
	height:inherit;
	float:left;
}

#home-container3-left span{
	font-weight:bold;
	font-size:50px;
}

#home-container3-left span#living{
	color:#1c5936;
	font-size:50px;
}

#home-container3-left span#with{
	color:#71ad49;
	font-size:40px;
}

#home-container3-left span#land{
	color:#71ad49;
	font-size:50px;
}

#home-container3-left div{
	margin-top:60px;
	margin-left:40px;
}

#home-container3-left div p{
	margin:0;
	padding:0;
	font-size:24px;
	color:#787878;
	width:60%;
	margin-top:15px;
}



#home-container3 #home-container3-right{
	width:55%;
	height:inherit;
	float:left;
}

#home-container3-right img{
	margin-top:40px;
	margin-left:50px;
	box-shadow: 1px 5px 10px #9d9292;
}

#home-container3-right #right-arrow{
	position:relative;
	top: -197px;
	left: -41px;
	box-shadow: none;
}

#home-container3-right .share{
	width:50px;
	height:50px;
	background:#006437;
	border-radius:50%;
	text-align: center;
	position:relative;
	left: 430px;
	top: 12px;
}

#home-container3-right .share div{
	font-weight:bold;
	color:white;
	font-size:10px;

	position:relative;
	top:18px;

	display:block;

}


