/*--- PARKS & NATURE ---*/
.parks,
.sports {
	display: block;
}
.parks .content,
.biking .content, 
.sanctuary .content,
.patches .content,
.top-sports .content {
	float: left;
	display: inline;
	width: 44%;
	margin-left: 80px;
}
.parks .content {
	margin-top: 150px;
}
.parks #side-image-upper,
.biking #side-image-mid,
.sanctuary #side-image-lower-mid,
.patches #side-image-lower,
.top-sports #image-upper {
	float: right;
	display: inline;
	position: absolute;
	right: 0;
}
.parks #side-image-upper {
	z-index: 1;
	margin-top: 126px;
}
.parks .nature {
	width: 90%;
}
#rocks-divider {
	width: 100%;
	height: 91px;
}

/* -- BIKING -- */
.biking,
.patches,
.top-sports {
	background: #fff;
}
.biking {
	height: 448px;
}
.biking #side-image-mid,
.sanctuary #side-image-lower-mid {
	margin-top: -20px;
}
.biking .content,
.sanctuary .content,
.patches .content,
.top-sports #image-upper {
	margin-top: 0 !important;
}

/* -- WILDLIFE & BIRD SANCTUARY --*/
.sanctuary  {
	background: #67a83d;
	height: 445px;
}

/* -- GREENS & PATCHES -- */
.patches {
	height: 498px;
}

/*--- end of PARKS & NATURE ---*/

/*--- SPORTS --*/
.sports,
.education,
.transportation {
	margin-top: 150px;
}
.top-sports {
	height: 488px;
}
.sports .zones {
	display: table;
}
.zones .column1,
.zones .column2 {
	display: table-cell;
	width: 35%;
}

/* -- FIELDS -- */
.fields {
	height: 494px;
	background: #67a83d;
	margin-top: 1px;
}
.fields #image-upper-mid,
.tracks #image-lower-mid,
.wakepark #image-lower {
	float: right;
	display: inline;
	position: absolute;
	right: 0;
}
.fields #image-upper-mid {
	margin-top: -80px;
}
.fields .content,
.tracks .content,
.wakepark .content {
	float: left; 
	display: inline;
	width: 44%;
	margin-left: 80px;
}
.gallery {
	width: 569px;
	height: 106px;
	background: #ccc;
}

/* -- TRACKS -- */
.tracks {
	height: 260px;
}
.tracks #image-lower-mid {
	margin-top: -196px;
}

/* -- WAKEPARK -- */
.wakepark {
	height: 388px;
	background: #67a83d;
	margin-top: 11px;
}
.wakepark #image-lower {
	margin-top: 0;
}

/*--- end of SPORTS --*/

/* --- EDUCATION --- */
.top-educ {
	height: 442px;
}
.lower-educ {
	background: #106907;
	height: 1110px;
	margin-top: 65px;
}
.top-educ .content,
.lower-educ .content {
	float: left; 
	display: inline;
	width: 40%;
	margin-left: 80px;
}
.top-educ .content h4 {
	margin-top: -55px;
}
.top-educ .school {
	color: #606362;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}
.top-educ small {
	font-size: 12px;
	color: #606362;
}
.education #side-image-right {
	float: right;
	display: inline;
	position: absolute;
	right: 0;
	margin-top: -570px;
}
/* --- end of EDUCATION --- */

/* --- TRANSPORTATION --- */
.transit {
	height: 626px;
	background: #fff;
}
.transit .content {
	float: left; 
	display: inline;
	width: 50%;
	margin-left: 80px;
}
.transit #side-right-image {
	float: right;
	display: inline;
	position: absolute;
	right: 0;
	margin-top: -8px;
	z-index: 0;
}
.transit h4,
.transit h5 {
	text-transform: uppercase;
	margin-top: -20px;
}
.transit h5 {
	font-size: 18px;
}
.transit ul li {
	display: table;
	margin-bottom: 12px;
	line-height: 100%;
}
.transit ul li > img {
	display: table-cell;
	margin-right: 12px;
}
.transit ul li > h5 {
	display: table-cell;
	vertical-align: middle;
}
.map {
	height: 480px;
	background: #67a83d;
}
.map .content {
	width: 100%;
	display: block;
	overflow-y: hidden;
}
.map .content #left-frame {
	float: left;
	left: 0;
}
.map .content #right-frame {
	float: right;
	right: 0;
}
.map .content #left-frame,
.map .content #right-frame {
	display: inline-block;
	z-index: 1;
	position: absolute;
}
.map .content #map {
	width: 80%;
	display: block;
	margin: 0 auto;
}